@media only screen and (min-width: 1824px) {
	.News, .Photo, .Rozklad, .Index{
		display: flex;
		justify-content: center;
		flex-direction: center;
	}
}

@media only screen and (min-width: 321px) and (max-width: 730px) {
	.News, .Photo, .Rozklad, .Index{
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 1030px){
	.navigation nav ul{
		display: flex;
		flex-direction: column;
	}
}
