@media screen and (min-width: 0px) and (max-width: 1000px) {
  .container__row {
    display: flex;
    flex-direction: column;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container__separation {
    width: 100%;
    color: #B6B6B6;
  }
  @media screen and (min-width: 0px) and (max-width: 530px) {
    .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .column__paragraph {
      text-indent: 1.5em;
      font-size: 10px;
    }
  }
}

@media print {
  #home, #contact {
    display: none;
  }
  .container__row {
    display: flex;
    flex-direction: column;
    margin: 25px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container__separation {
    display: none;
  }
}