@import url('https://fonts.googleapis.com/css?family=Quicksand');

@import url(responsive.scss);

.page {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

/* Home section */


#home {
  min-height: 100vh;
  width: 100%;
  -webkit-box-shadow: 0px -1px 134px -10px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px -1px 134px -10px rgba(0, 0, 0, 0.77);
  box-shadow: 0px -1px 134px -10px rgba(0, 0, 0, 0.77);
  overflow: hidden;
}

.page__header {
  position: absolute;
  width: 100%;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.logo {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
}

.navbar-menu {
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar__item {
  list-style: none;
  padding: 20px;
}

.navbar__link {
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-decoration: none;
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: width .3s;
  }
  &:hover:after {
    width: 100%;
    transition: width .5s;
  }
}

.wrap-block {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
}

.wrap-block__title {
  font-size: 40px;
}

.wrap-block__link {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  transition: 0.5s;
  &:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.5s;
  }
}

/* Projects section */

#projects {
  width: 100%;
  overflow: hidden;
}

.container__title {
  font-size: 30px;
  text-align: center;
  margin: 50px 0 30px 0;
}

.column__title {
  text-align: center;
  font-size: 25px;
}

.container__row {
  display: flex;
  justify-content: center;
}

.container__column {
  width: 650px;
  padding: 20px;
}

.column__paragraph {
  text-indent: 1.5em;
  font-size: 18px;
}

.column__image {
  transition: 0.9s;
  &:hover {
    transform: scale(1.05);
    transition: 0.9s;
  }
}

.container__separation {
  width: 100%;
  color: rgb(185, 184, 184);
}

/* Contact section */

.page__footer {
  margin: 15px;
}