doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=windows-1251')
    title Lab2
  body
    header
      nav
        ul
          li
            a(href='rozklad.html') Rozklad
          li
            a(href='news.html') News
          li
            a(href='photo.html') Photo
    section
      h1 Билл Гейтс
      article
        header
          p
            img(src='images/toLSRT8pFV09v.jpeg', width='335', height='255')
        p
          b
            | Билл Гейтс ( Уильям Генри Гейтс III ) родился 28 октября 1955 г. в городке Сиэтл, США.
          | Билл Гейтс родился в Сиэтле (штат Вашингтон, США) в семье корпоративного адвоката Уильяма Генри Гейтса II, а также Мэри Максвелл Гейтс, которая занимала руководящие должности в совете директоров нескольких крупнейших американских компаний.
        p
          | Когда мальчик пошел в школу, родители записали его в самое привилегированное учебное заведение Сиэтла – «Лейксайд».
        p
          | Любимым предметом для Билла оказалось программирование, которому он посвящал практически все свое свободное время. Будучи подростком, американец написал свою первую игру на языке Basic. Хоть это и были простые «Крестики-нолики», но для мальчика они стали отправной точкой в его будущих профессиональных успехах.
        p
          | В престижной школе Сиэтла ученик начал развивать навыки программирования на миникомпьютере, но некоторые предметы усилить удавалось с трудом. В частности, уроки по грамматике и граждановедении он считал в своем роде тривиальными, но зато по математике у будущего миллиардера были только самые высокие баллы.
        p
          | В 1971 году Билл и Пол даже поработали на профессиональную компанию Information Sciences. Ребята писали программу ведения платежных ведомостей, но закончить ее полностью не успели, так как проект был остановлен. Кроме того, будучи школьниками, Гейтс и Аллен работали на компанию TRW, где программировали часть кода для проекта, который планировали использовать сотрудники Бонневильского энергетического управления.
        p
          | В 1973 году Билл Гейтс становится студентом Гарвардского университета. Конечно, он собирался специализироваться в области программного обеспечения, но практическая сторона дела привлекала молодого человека намного больше, чем теория науки, поэтому немотивированный студент пропускал много занятий. Проучившись лишь 2 курса, начинающий программист был отчислен из университета.
        p
          | В начале 1975 года Пол Аллен узнает, что компания Micro Instrumentation and Telemetry Systems выпускает компьютеры нового поколения Altair 8800. Билл Гейтс набирается дерзости и звонит Эду Робертсу, который возглавлял данную организацию. Он рассказывает Эду, что с другом пишет программное обеспечение специально под компьютеры известной корпорации, но хотя это было и неправдой напористость Билла приносит свои плоды.
        p
          | В 1976 году Гейтс также ввел в практику реализацию лицензий на собственные программные средства для непосредственного использования производителями компьютеров, что позволяло им «встраивать» в ПК новые операционные системы и языки программирования.
        p
          | Результатом работы компании Microsoft стала операционная система Microsoft Fortran, которая появилась в 1977 году. Именно эту ОС можно смело считать первым полноценным конкурентом стандартной системы CP/M для компьютеров на базе Intel.
    footer
      p
        b Copyright 2019 Lab2
